nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
    .container-md
        a.navbar-brand(href="#") Navbar
        div.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/home") Home